{%load static%}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'shortener/styles.css' %}">
    <script src="{% static 'shortener/scripts.js' %}" async defer></script>
    <title>{%block title%}{% endblock %}</title>
  </head>
  <body>

    <div>
      {%block body%}{%endblock%}
    </div>

  </body>
</html>